body {
    font-family: Arial, sans-serif;
}

.login-card {
    width: 100%;
    height: 350px;
    max-width: 350px;
    border-radius: 12px;
    background-color: rgb(233, 209, 209);
}

.password-card {
    width: 100%;
    height: 250px;
    max-width: 350px;
    border-radius: 12px;
    background-color: rgb(233, 209, 209);
}

.menu-card {
    border-radius: 12px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.menu-card:hover {
    background: #7c7c7c;
    color: white;
}

.scanner-box {
    height: 200px;
    background: rgb(233, 209, 209);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.offcanvas a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

button {
    margin-top: 5px;
}

.navbar {
    background-color: rgb(233, 209, 209);
}
